.carousel-image {
    display: block;
    width: 500px;
    margin: 0 auto 15rem;
}

.carousel-heading {
    font-size: 2rem;
}

.carousel-link {
    font-size: 2rem;
    color: #9ef01a;
    margin: 0 1rem 1rem;
    transition: all .3s ease-in-out;
}

.carousel-link:hover,
.carousel-link:focus {
    color: #e6e6e6;
}

@media screen and (max-width: 550px) {
    .carousel-image {
        width: 300px;
    }

    .carousel-heading {
        font-size: 1.5rem;
    }
}