.footer-wrapper {
    background-color: #212529;
    color: #e6e6e6;
}

.footer-copyright {
    font-size: .8rem;
    margin-bottom: 0;
}

.footer-social-icon {
    font-size: 2rem;
    margin-left: .5rem;
}