.hero-container-image {
    z-index: -1;
    background: url("/public/images/hero-background.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 133px);
}

.hero-heading-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-heading {
    max-width: 900px;
    margin: 2rem auto;
    padding: 4rem 0 2rem;
    font-size: 4rem;
    color: #9ef01a;
}

@media screen and (max-width: 550px) {
    .hero-heading {
        font-size: 2.5rem;
    }
}
