@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    font-family: 'Tilt Neon', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    background-color: #1d1d1d;
}

.main-container {
    min-height: 85vh;
    color: #e6e6e6;
}

.heading {
    font-size: 5rem;
    color: #9ef01a;
}