@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    font-family: 'Tilt Neon', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    background-color: #1d1d1d;
}

p {
    font-size: 1.25rem;
}

.main-container {
    min-height: 85vh;
    color: #e6e6e6;
}

.heading,
.subheading {
    color: #9ef01a;
}

.heading {
    font-size: 5rem;
}

.subheading {
    font-size: 3rem;
}

.skill-container {
    width: fit-content;
    margin: 0 1rem;
}

.skill-image {
    width: 100px;
}