@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    font-family: 'Tilt Neon', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    background-color: #1d1d1d;
}

p {
    font-size: 1.25rem;
    color: #e6e6e6;
}

.main-container {
    min-height: 85vh;
    color: #e6e6e6;
}

.heading,
.subheading {
    color: #9ef01a;
    margin-bottom: 2rem;
}

.heading {
    font-size: 5rem;
}

.subheading {
    font-size: 3rem;
}

.link {
    color: #e6e6e6;
    transition: all .3s ease-in-out;
}

.link:hover,
.link:focus {
    color: #9ef01a;
}

.btn-primary {
    background-color: #9ef01a;
    border: none;
    color: #1d1d1d;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #e6e6e6;
    color: #1d1d1d;
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: 3.5rem;
    }

    .subheading {
        font-size: 2.5rem;
    }
}